@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #22254b;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.head-container {
    background-color: #2e326e;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3rem;
}

.search {
    background: transparent;
    border: #22254b solid 2px;
    border-radius: 50px;
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    color: antiquewhite;
}

.search:focus, input:focus{
    outline: none;
    background-color: #22254b;
}

.search input::placeholder {
    color: #7378c5;
}

.movie {
    width: 300px;
    background-color: #2e326e;
    margin: 1rem;
}

.movie img {
    max-width: 100%;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0.5rem;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    color: #ffd700;
    background-color: #22254b;
    padding: 0.2rem ;
}